<h1>Admin Dashboard</h1>
<br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Categories</th>
      <th>Number of Products in Category</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Apparel</td>
      <td><a href="categories/1"><%= @apparel_count %></a></td>
    </tr>
    <tr>
      <td>Electronics</td>
      <td><a href="categories/2"><%= @electronic_count %></a></td>
    </tr>
    <tr>
      <td>Furniture</td>
      <td><a href="categories/3"><%= @furniture_count %></a></td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th>Total number of products</th>
      <td><a href="/admin/products"><%= @product_count %></a></td>
    </tr>
  </tfoot>
</table>