<section class="orders-show">

  <header class="page-header">
    <h1>Order</h1>
  </header>

  <div class="order-summary jumbotron">
    <div class="panel panel-default items">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <% @order.line_items.each do |item| %>
            <%= render "item", item: item %>
          <% end %>
        </tbody>

      </table>
    </div>

      <h4>Your total is: <%= humanized_money_with_symbol (@order.total_cents / 100)%></h4>
      <h4>The e-mail used for this invoice is <%= @order.email %></h4>
      <h4>Thank you for your order!</h4>
    
  </div>

</section>